body {
    background: #191919;
    user-select: none;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    top: 0px;
    left: 0px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.parent-container {
    top: 0px;
    left: 0px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    row-gap: 20px;
}

.image-container {
    overflow: hidden;
}

.image-container > img {
    object-fit: cover;
}

#open-button {
    width: 200px;
    height: 60px;   
}

.information-container {
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

#camera-state {
    font-size: 3em;
}

#camera-canvas {
    position: absolute;
}